/* NEW SHIT */
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
.scroller::-webkit-scrollbar {
  width: 7.5px;
}

.scroller::-webkit-scrollbar-track {
  background: white;
}

.scroller::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-right: 1px solid white;
}
.Divider{
  width: 100%
}

.App{
  display: flex;
  
  height: 100%;  
  margin: 0 auto;
  @include for-tablet-portrait-up{
    width: 70%;
    margin: 0 auto;
  }
  @include for-phone-only{
  
  }
}


.DriversLicense{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  @include for-tablet-portrait-up{
  }
  @include for-phone-only{
    
    border-bottom: 1px solid var(--color-epic);
  }
}




.Art{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color:  #252244cd;
}



.artworks{
  width: 300px;
  height: 300px; 
  padding: 10px;
  & img{
    width: 100%;
    height: 100%;
  }
}







.txt_box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.txt_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
}
.tray{
  background-color: #1d2636;
  background-color: #130f24;
  border-radius: 4px;

  margin-top: 10px;
  margin-bottom: 10px;
  @include for-tablet-portrait-up{
    border: 1px solid var(--color-epic);
    padding: 10px;
  }
  @include for-phone-only{
    border-bottom: 1px solid var(--color-epic);
  }
}





.footer_contact{
  width: 100%;
  position: absolute;
  display: flex;
  left: 0;
  top: 70%;
  
  padding-right: 10px;
  & a{
    padding-left: 10px;
    padding-right: 10px;
  }
  & p {
    color: rgb(255, 0, 208);
  }
  justify-content: space-between;
}

.footer_wave{
  position: relative;
}

.footer{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
  .fab {
    font-size: 40px;
    animation: spinY 10s ease-in infinite;
  }
  @include for-tablet-portrait-up{
    
  }
}

.bio{
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color:  #252244cd;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 4px;
}




article{
  width: 100%;
  color: rgba(80, 0, 202, .3);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  & h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }
  & h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
  }
  & h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
  }
  & h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
  }
  & p{  
    font-size: 1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32) 0;
  }
}


.dl_bottom_section{
  width: 100%;
  height: 300px;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid black;
}



.driverslicense_header{
  height: 69px;
  border-radius: 4px;
  background-image: linear-gradient(to right, rgba(13, 230, 255, 0.15) 0%, rgba(201, 189, 174, 0) 20%, rgba(13, 230, 255, 0.15) 90%,);
  justify-content: space-around;
  align-items: center;
  @include for-phone-only{
    flex-direction: column;
    align-items: flex-start;
  }
}

.driverslicense_hr_top{
  margin-bottom: 10px;
}
.driverslicense_body{
  display: flex; 
  width: 100%;
  height: 100%;
  @include for-phone-only{
    justify-content: center;
    flex-wrap: wrap;
  }
}

.driverslicense_body_text{
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:  #252244cd;
  border-radius: 10px;
  border: 1px solid black;
  @include for-phone-only{
    width: 100%;
    margin: 0;
   }
   
}
.DLMetaStats{
  padding: 10px;
  background-color:  #252244cd;
  border-radius: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 100%;
  @include for-phone-only{
    width: 100%;
    margin: 0;
   }
}


.dl_btn_holder{
  width: 100%;
  display: flex;
  & button{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
  }
  & .active{
    color: #f79902;
    border-color: #f79902;
  }
}

.profile_pic{ 
  width: 400px;
  background-color:  #252244cd;
  border-radius: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border: 1px solid black;
  @include for-phone-only{
   width: 100%;
  }
  
}
.profile_pic img{
  width: 100%;
  border-radius: 10px;
  height: auto;
}







.education{
  background-color:  #252244cd;
  padding: 10px;
  
  height: 100%;
  & hr{
    margin-bottom: 10px;
    margin-top: 5px;
  } 
}

.education_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education_text{
  display: flex;
  text-align: left;  
  @include for-phone-only{
    justify-content: center;
    flex-wrap: wrap;
   }
}
.education_text_body{
  padding-right: 20px;
  padding-left: 20px;

  & ul{
    & li{
      margin-left: 16px;
      margin-top: 16px;
    }
    text-indent: -20px;
  }
}






.technologies{
  background-color:  #252244cd;
  height: 100%;
  padding: 10px;
  
  & hr{
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.technologies_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontend{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.frontend *{
  margin-left: 10px;
  margin-right: 10px;
}
.frontend *:hover{
  animation: spinY .8s ease-out;
}

.backend{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.backend *{
  margin: 1px 15px 1px 2px;
  padding-left: 5px;
}
.backend_logos{
  width: 100px;
}

.hackreactorlogo{
  width: 150px;
  & img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.backend_logos *:hover{
  animation: spinY .8s ease-out;
}









@keyframes spinY {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}






.fa-file-invoice-dollar{
  color: rgb(159, 20, 20);
}
.fa-phone-alt{
  color: navajowhite;
}

.fa-envelope{
  color: rebeccapurple;
}


.fa-github{
  color: #0e76a8;
}
.fa-linkedin-in{
  color: #0e76a8 ;
}

.fa-js{color: deeppink;}
.fa-node{color: #3C873A;}
.fa-react{color: #61DBFB;}
.fa-html5{color: #E44D26;}
.fa-css3-alt{color: #E31B5F;}
.fa-adobe{color: #FF3500}


.fas{
  font-size: 50px;
  color: deeppink;
}


.fab{
  font-size: 50px;
  color: deeppink;
  margin-bottom: 10px;
}






.modal_background{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  position: relative;
  height: 70%;
}
.modal_header{
  display: flex;
  color: rgb(255, 0, 208);
  justify-content: space-between;
}
.modal_img{
  width: 100%;
  height: 100%;
  & img {
    width: 100%;
    height: 100%;
  }
}