/* NEW SHIT */
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
.scroller::-webkit-scrollbar {
  width: 7.5px;
}

.scroller::-webkit-scrollbar-track {
  background: white;
}

.scroller::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-right: 1px solid white;
}



.App{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  @include for-tablet-portrait-up{
    max-width: 1000px;
  }
  @include for-phone-only{
  
  }
}




.txt_box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.txt_row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3px;
}
.tray{
  background-color: #1d2636;
  
  background-color: #130f24;
  
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include for-tablet-portrait-up{
    border: 1px solid var(--color-epic);
    padding: 10px;
  }
  @include for-phone-only{
    border-bottom: 1px solid var(--color-epic);
  }
}


.about{
  height: 100%;
  color: rgba(80, 0, 202, .3);
}



.wave{
  left: 0;
  bottom: 0;
  position: absolute;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite
}


.header{
  height: auto;
}
.center_content_body{
  height: 100%;
}

.footer{
  display: flex;
  height: auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  .fab {
    font-size: 40px;
    animation: spinY 10s ease-in infinite;
  }
  @include for-tablet-portrait-up{
    
  }
}




.contact{
  @include for-tablet-portrait-up{
    display: flex;
  }
  @include for-phone-only{
    border-bottom: 1px solid var(--color-epic);
  }
}


.driverslicense_header{
  justify-content: space-around;
  align-items: center;
  @include for-phone-only{
    flex-direction: column;
    align-items: flex-start;
  }
}

.driverslicense_hr_top{
  margin-bottom: 10px;
}
.driverslicense_body{
  display: flex; 
  width: 100%;
  @include for-phone-only{
    justify-content: center;
    flex-wrap: wrap;
  }
}

.driverslicense_body_text{
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  background-color:  #252244cd;
  border-radius: 10px;
  border: 1px solid black;
  @include for-phone-only{
    width: 100%;
    margin: 0;
   }
   
}
.driverslicense_body_footer{
  padding: 10px;
  background-color:  #252244cd;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid black;
  width: 100%;
  @include for-phone-only{
    width: 100%;
    margin: 0;
   }
}


.dl_btn_holder{
  width: 100%;
  display: flex;
  & button{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
  }
  & .active{
    color: var(--color-legendary);
    border-color: var(--color-legendary);
  }
}

.profile_pic{ 
  width: 400px;
  background-color:  #252244cd;
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  @include for-phone-only{
   width: 100%;
  }
  
}
.profile_pic img{
  width: 100%;
  border-radius: 10px;
  height: auto;
}





.education{
  display: flex;
  text-align: left;  
  @include for-phone-only{
    justify-content: center;
    flex-wrap: wrap;
   }
}
.education_text{
  padding-right: 20px;
  padding-left: 20px;

  & ul{
    & li{
      margin-left: 16px;
      margin-top: 16px;
    }
    text-indent: -20px;
  }
}


.technologies{
  padding: 10px;
  margin-top: 10px;
  & hr{
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.technologies_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontend{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.frontend *{
  margin-left: 10px;
  margin-right: 10px;
}
.frontend *:hover{
  animation: spinY .8s ease-out;
}

.backend{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.backend *{
  margin: 1px 15px 1px 2px;
  padding-left: 5px;
}
.backend_logos{
  width: 100px;
}

.hackreactorlogo{
  width: 150px;
  & img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.backend_logos *:hover{
  animation: spinY .8s ease-out;
}









@keyframes spinY {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}












.fa-file-invoice-dollar{
  color: rgb(159, 20, 20);
}
.fa-phone-alt{
  color: navajowhite;
}

.fa-envelope{
  color: rebeccapurple;
}


.fa-github{
  color: #0e76a8;
}
.fa-linkedin-in{
  color: #0e76a8 ;
}

.fa-js{color: deeppink;}
.fa-node{color: #3C873A;}
.fa-react{color: #61DBFB;}
.fa-html5{color: #E44D26;}
.fa-css3-alt{color: #E31B5F;}
.fa-adobe{color: #FF3500}


.fas{
  font-size: 50px;
  color: deeppink;
}


.fab{
  font-size: 50px;
  color: deeppink;
  margin-bottom: 10px;
}




.slider{

  
  & .slider_btn_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  & .slider_block_container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  & .block{
    height: 10px;
  }
  & .active{
    color: inherit;
    background-color: var(--color-pink);
  }
  & .inactive{
    background-color: rgb(35, 33, 33);
    border-color: rgb(35, 33, 33);
    &:hover{
      background-color: var(--color-rare);
      opacity: .3;
    }
  }
}

.countdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  & .countdown_body{
    display: flex;
  }
  & .interval{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
}